
/*criacao de configurações de Cores que nao estao no framework*/


/*variacveis de cores e botoes*/

.bg-color-orange {
  color: $color-warnning;
  background-color: $color-warnning;
}

.bg-color-roxo {

  color: $color-main;
  background-color:$color-roxo-dark;
}