
/* variaveis e estilizacao de backgrounds */

.background-banner {
  width: 100%;
  height: 100%;
  background-image: image-url('banners/banner-home.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $color-text;
}

footer {
  background-color: bg-light;

  // Força o branco em todos os textos do footer
  h4, p, a {
    
  }
}



.copyright{
  background-color: $color-roxe-01;
}