
//variaveis de cores */
$color-placeholder: #630097; // Escolha uma cor que combine com o design
$color-text: #fff;
$color-white:   #FFFFFF;
$color-green:   #29AE81;
$color-marrom:  #A4A4A4;
$corlor-marron-forte:#A52A2A;
$color-black:   #000000;
$color-site: #3a7afe;
$color-main: #ebeef6;
$color-active: #d4def7;
$color-bg: #ecedf0;
$color-second: #f1f1f1;
$color-third: #9fa7bd;
$color-main-bg: #192039;
$color-second-bg: #1e2746;
$color-third-bg: #3a7afe;
$color-footer-bg: #131b38;
$color-primary: #0088cc;
$color-success: #47a447;
$color-info: #5bc0de;
$color-orange: #ed9c28;
$color-danger: #d2322d;
$color-roxo-dark: #4a2d4a;
$color-light-roxe-color: #c26cc2;
$color-viollet-roxe-color: #ca61cb;
$color-menu-defaut: #0000eb;
$color-circle-defaut-hover: #0095eb;
$color-circle-rodape: #090662;
$color-roxe-01: #630097;
$color-roxe-02: #7f00b2;
$color-roxe-03: #5c0090;
$verde-limao: #359510;
$color-bg-footer-roxedark: #1b003a;






/* variaveis media-queries */

$media-mobile-s:        320px;
$media-mobile-m:        375px;
$media-mobile-l:        425px;
$media-tablet:          768px;
$media-desktop:         1024px;


//mixins de fontes

@mixin font-title{
  font-family: 'Ruda',  sans-serif;
  font-weight: 700;

}
@mixin font-subtitle{
  font-family: 'Ruda',  sans-serif;
  font-weight: 500;
}
@mixin font-paragraf{
  font-family: 'Ruda',  sans-serif;
  font-weight: 400;
}





/* Estilização da navbar
.navbar{
   background-color: $color-menu-defaut;
}
.menu ul li a.nav-link {
    color:#fff !important;
}
.menu ul li a.nav-link:hover {
    color: $color-third !important;
  }

/*formatação   do topo da pagina
.topo{
    width: 100%;
    margin: auto;
}




/*
.desc-top{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #fff;
    border-radius: 0px;
    margin-bottom: 0rem !important;
}
 */

/* alinhamento do texto do jumbotron na area serviços
.servicos{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color:#fff;
    border-radius: 0px;
    margin-bottom: 0rem !important;
}
.circulo{
    width: 140px;
    height: 140px;
    color:$color-circle-defaut-hover;
    border-radius: 50%;
    padding-top: 24px;
    font-size: 52px;
}
.circulo:hover {
    background-color: var(--circle-defaut-hover);
    color: #fff;
}
.centralizar {
    margin-left: auto;
    margin-right: auto;
}

/* formatacao do formulario
.jumbotron.contato{
    /*background-color: var(--main-bg-color);
    background-color: $color-main-bg;
   // background-image: url('<%= asset_path("topo.jpg") %>');
    background-size: cover;
      background-position: center;
      color: white;
      border-radius: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* formatacao do ropdapé
.container-fluid.rodape {
    margin-top: auto;
    background-color: $color-circle-rodape;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    border-radius: 0px;
}

.rodape ul {
    list-style: none;
    padding: 0;
}

.rodape ul li {
    margin-bottom: 0.5rem;
}

.rodape ul li a {
    color: #fff;
    text-decoration: none;
}

.rodape ul li a:hover {
    color: $color-third !important;
}
 */

