



/*formatação inicial da pagina web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
  @include font-paragraf;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
/*formatação do navbar*/
    .navbar {
background-color: $color-roxe-01;
}
.menu ul li a .nav-link{
    color:$color-main !important;
}

/*formatação do topo do site*/
.topo{
     

  .webview{
    width: 100%;
    margin: auto;  

    .container{

      h1{
        font-size: 30px;
        @include font-title;
        color: $color-roxe-03;
        padding: 50px;
        
      }
      p{
        font-size: 1rem;
        color: $color-black;
      }

    }
  }  



}

/*formatação da Area serciços site*/
    .servicos{
          .webview {
            .container{

                h2{
                @include font-title;
                  color:$color-roxe-03;
                  font-size: 30px;
                }

                .title-card{
                    .card-body{

                      h3{
                        @include font-subtitle;
                        font-size: 1rem;
                        color: $color-contrast-dark;
                      }

                    }
                }

            }
        }
    }
      

  /*area COntato */
  
    #contato {
      .container {
          .title{
            h2{
              @include font-title;
              font-size: 35px;
              color:$color-contrast-dark;
             }
          }
          
          .subtitle{
            h4{
              @include font-subtitle;
              font-size: 18px;
              margin-top: 1rem;
              margin-bottom: 1rem;
              color:$color-contrast-dark;
            }
            p{
              @include font-subtitle;
              font-size: 18px;
              margin-top: 1rem;
              margin-bottom: 1rem;
              color:$color-contrast-dark;
            }
          }
      }

  }
  
  
   